[Desktop Entry]
Type=Application
Name=Katawa Shoujo: Re-Engineered (Legacy)
Exec=ksre
StartupWMClass=python3.11
Icon=sh.fhs.KatawaShoujoReEngineered
Categories=Game;AdventureGame
